# 基础配置
# 云盘路径
CLOUD_PATH=aliyundrive:/
# 挂载路径
MOUNT_PATH=/mnt/aliyundrive
# 缓存路径
CACHE_DIR=/mnt/local/.cache
# 本地磁盘路径
LOCAL_PATH=/mnt/local
# 合并后路径
MERGERFS_PATH=/mnt/mergerfs
# 用户ID和组ID
PUID=1000
PGID=1000
# 保存在本地磁盘的时间（创建时间大于 MIN_AGE 才会上传）
MIN_AGE=3d
#
#
# 进阶配置
# 配置路径
CONFIG=$PWD/config/rclone.config
# 排除文件或目录配置
EXCLUDES=$PWD/config/upload.excludes
# 日志路径
LOG_PATH=$PWD/log
# 日志级别
LOG_LEVEL=INFO
# 内存缓存
BUFFER_SIZE=16M
# 文件属性缓存时间，默认1s
ATTR_TIMEOUT=1s
# 目录缓存时间（默认5m0s）
DIR_CACHE_TIME=5m0s
# 轮询更新时间，需服务端支持，不支持就只能等目录缓存时间过后才会更新（默认1m0s，必须小于目录缓存时间）
POLL_INTERVAL=1m0s
# vfs缓存模式，默认关闭（writes：只读文件不缓存，只写/读写文件缓存；full：所有文件缓存，且支持稀疏文件（需要文件系统支持，FAT/exFAT不支持））
VFS_CACHE_MODE=full
# 磁盘缓冲（官方建议：full模式，--buffer_size不要太大，--vfs_read_ahead应该设置大些）
VFS_READ_AHEAD=1G
# VFS文件缓存时间（阿里云盘云端修改会重新缓存，所以设置长一点，但是同时上传缓存也会长时间保留（可通过mergerfs配合定时rclone move解决，无需缓存））
VFS_CACHE_MAX_AGE=7200h
# VFS文件缓存空间上限（缓存磁盘满时，优先删除最久没有访问过的数据）
VFS_CACHE_MAX_SIZE=512G
# 分块读取大小，默认128M，每次都翻倍读取下一个块（1块：128M，2块：256M ... N块：<= vfs_read_chunk_size_limit）
VFS_READ_CHUNK_SIZE=32M
# 分块读取限制，默认关闭（一直读取下一个块）
VFS_READ_CHUNK_SIZE_LIMIT=1024M
# 文件并行数量，默认为4
TRANSFERS=16
# 传输最大文件，例如可以写100G（Onedrive目前单文件最大大小）
MAX_SIZE=100G
# 传输最小文件
MIN_SIZE=1B
# 并行检查文件数量，默认为8
CHECKERS=16
# 权限，当前770：rwxrwx---
DIR_PERMS=770
FILE_PERMS=0770
UMASK=002
# 每秒事务数
TPSLIMIT=16
# 每秒爆发事务数，可用于不改变每秒事务数的情况下提高性能
TPSLIMIT_BURST=16
# 启用多线程下载文件大小最小值，默认250M
MULTI_THREAD_CUTOFF=128M
# 最大线程数量，默认4
MULTI_THREAD_STREAMS=8